# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Dotnet tools
*.dbmdl
*.pdb

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.log
*.vs/
*.DS_Store

# NuGet
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
*.sln.iml

# Local environment
.env

# Logs
logs/
*.log

/packages/
riderModule.iml
/_ReSharper.Caches/
